### Try and Except --why do we use

In [1]:
age = int(input("How old are you ?"))
if age>18:
    print("You can drive Car")

How old are you ? sfd

ValueError: invalid literal for int() with base 10: 'sfd'

##### T fix the error --> we will use Try and Catch

In [5]:
try:
    age = int(input("How old are ? "))
except ValueError:
    print("you have typed in an Invalied Please Type something Numarical ")
    age = int(input("How old are you ?"))

if age > 18:
    print(f"You can drive at age {age}.")
else:
    print(f"Sorry You can not drive at this age {age}.")

How old are ?  ira

you have typed in an Invalied Please Type something Numarical

How old are you ? 12

Sorry You can not drive at this age 12.

### Normal Problem

In [6]:
word_per_page = 0
pages = int(input("Number of Pages ="))
word_per_page = int(input("Number of words per pages ="))
total_words = pages * word_per_page

print(f"The Number of pages {pages} and Word per pages is {word_per_page} so the Total words is {total_words}")

Number of Pages = 12
Number of words per pages = 13

The Number of pages 12 and Word per pages is 13 so the Total words is 156

## User Defined Function

In [69]:
def my_function():
    print("Hello I am Hira")
    
my_function() #Calling the my_function

Hello I am Hira

In [70]:
def details_bill():
    print ("The last date of the bill payment is on next week Sunday")
    print ("After deadline , you need to pay Rs 1000 as a fine")
    print ("pay you bill soon")

In [71]:
for i in range (3):
    a =input("Enter youe name")
    b =int(input("enter the unit os elecetiricity you have sunday"))
    bill =b*10
    print ("Total amount of bill you need to pay is", bill)
    details_bill()

Enter youe name hira
enter the unit os elecetiricity you have sunday 500

Total amount of bill you need to pay is 5000
The last date of the bill payment is on next week Sunday
After deadline , you need to pay Rs 1000 as a fine
pay you bill soon

Enter youe name Topu
enter the unit os elecetiricity you have sunday 1000

Total amount of bill you need to pay is 10000
The last date of the bill payment is on next week Sunday
After deadline , you need to pay Rs 1000 as a fine
pay you bill soon

Enter youe name Mili
enter the unit os elecetiricity you have sunday 700

Total amount of bill you need to pay is 7000
The last date of the bill payment is on next week Sunday
After deadline , you need to pay Rs 1000 as a fine
pay you bill soon

In [7]:
def great_with(name , location):
    print(f"Hello {name}")
    print(f"What is it like in {location}")

great_with("Md Irfanul Kabir Hira ", "Chittagong")

Hello Md Irfanul Kabir Hira
What is it like in Chittagong

## Argument

In [72]:
def check_even_odd(number):
    if number%2==0:
        print("The number is even")
    else:
        print ("The number is odd")

In [73]:
check_even_odd(24)

The number is even

In [74]:
check_even_odd(27)

The number is odd

# 2 Arguments

In [75]:
def my_name(fname,lname):
    print (fname +" " +lname)

In [ ]:
my_name("Hira" , "Jira")

Question 1 :
Write a user-defined function to process the exam scores and calculate the following statistics :

The average exam score .
the Heighest exam Score .
The lowest exam score .
The number of students who passed the exam(assuming a passing score is 80 or above ).
The numeber of students who failed the exam .

exam_score = [ 85 , 92, 78 , 90 , 88 , 95 , 82 , 79 , 87 , 91 ]

In [ ]:
def calculate_exam_statistics(exam_scores):
    num_students = len(exam_scores)
    average_score = sum(exam_scores) / num_students
    highest_score = max(exam_scores)
    lowest_score = min(exam_scores)

    num_passed = 0
    for score in exam_scores:
        if score >= 80:
            num_passed += 1
    num_failed = num_students - num_passed
    return average_score, highest_score, lowest_score, num_passed, num_failed

# Example usage
exam_scores = [85, 92, 78, 90, 88, 95, 82, 79, 87, 91]
average_score, highest_score, lowest_score, num_passed, num_failed = calculate_exam_statistics(exam_scores)

print("The average score is", average_score)
print("The Highest score is", highest_score)
print("The Lowest score is", lowest_score)
print("The Number of students passed is", num_passed)
print("The Number of students failed is", num_failed)

In [ ]:
Ans : 
The average score is 86.7
The Highest score is 95
The Lowest score is 78
The Number of student passed is  8
The Number of student failed is  2

Quesiton 1 : 
You are given a dataset of students grades and need to determine the grade distribution.

Question : Write a python Funciton 
grade_distributin(grades) that takes a list of integer representing 
student grades (0-100). Use a loop to count the number of grades in each grade catagory :
'A' ( 90-100) , 'B' (80-89) , 'C' (70-79), 'D' (60-69) , and 'F'(below 60).
Use if_elif_else statements within the loop to categorize the grades.
Return a dictionay with the counts of each grade category .

In [77]:
def grade_distribution (grades):
    for grade in grades:
        if 90<=grade <=100:
            print("You have got A grade")
        elif 80<=grade <=89:
            print("You have got B grade")
        elif 70<=grade <=79:
            print("You have got C grade")
        elif 60<=grade <=69:
            print("You have got D grade")
        else:
            print("You have got E grade")
    return

In [78]:
grades = [85, 92,88,74,63,95,70,58,82,67,73]
grade_distribution(grades)

You have got B grade
You have got A grade
You have got B grade
You have got C grade
You have got D grade
You have got A grade
You have got C grade
You have got E grade
You have got B grade
You have got D grade
You have got C grade

Question 2 : 
You are creating a number guessing game where the computer generates a random number
between 1 and 100 , and the palyer has to guess it .

Write a python code to generate a random number between 1 and 100 
Use control flow statements and loops to allow the player to guess the number and provide feedback 
(too high , too low , or correct ).
Define a user_deined function to encapsulate the game logic and call this function to play the game.

In [10]:
import random 
def number_gussing_game():
    secret_number = random.randint(1, 100)
    print(secret_number)
    print("Welcome to the Number Gussing game")
    print("I have the number between 1 to 100 , Can you guess it ?")
    attempts = 0 
    guess = None 
    while guess !=secret_number:
        guess = int(input("Enter Your Guess"))
        attempts = attempts + 1
        if guess<secret_number:
            print("Too low , Try again")
        elif guess > secret_number:
            print("Too high, Try again")
        else:
            print("Congratulations you have guessed the correct number")
            print("The number of attempts in guessing the correct number is", attempts)

In [80]:
number_gussing_game()

12
Welcome to the Number Gussing game
I have the number between 1 to 100 , Can you guess it ?

Enter Your Guess 25

Too high, Try again

Enter Your Guess 10

Too low , Try again

Enter Your Guess 15

Too high, Try again

Enter Your Guess 12

Congratulations you have guessed the correct number
The number of attempts in guessing the correct number is 4

### Game - > name Random number Guess

In [4]:
import random

stages = ['''
 +----+
 |    |
 0    |
/|\   |
/ \   |
      |
==========
''','''
 +----+
 |    |
 0    |
/|\   |
/     |
      |
==========

''' , '''
 +----+
 |    |
 0    |
/|\   |
      |   
==========
''' , '''

 +----+
 |    |
 0    |
/|    |     
      |
      |
==========

''' , '''
 +----+
 |    |
 0    |
 |    |
      |
      |     
==========

''' , '''
 +----+
 |    |
 0    |
      |
      |
==========
''' , '''
 +----+
 |    |
      |
      |
      |
==========

''']


word_list = ["aardvark" , "baboon" , "camel"]

# Create a variable called 'Lives' to keep the track of lives left
# Set 'Lives' to equal 6.
lives = 6


chosen_word = random.choice(word_list)
print(chosen_word)


# step 1 : To Create a placeholer
placeholder = ""
word_lentgh = len(chosen_word)
for position in range(word_lentgh):
    placeholder+="_"
print(placeholder)

# Use a while loop to let user guess again
game_over = False
correct_letters = []
while not game_over:
    # TODO-6 : Update the code below to tell the user how many lives they have left .
    print(f"*********<???> {lives}/6 LIVES Left ***************")
    guess = input("Guess a letter lower: ").lower()

    # TODO-4: Id the user entered a letter thet have already guess, print the letter
    display = " "

    for letter in chosen_word:
        if letter == guess:
            display += letter
            correct_letters.append(guess)
        elif letter in correct_letters:
            display += letter
        else:
            display += "_"

    print(display)

    # Step 2: If guess is not letter in the Chosen_word, then reduce 'Lives' by 1
    # If lives guess down to 0 then the game should stop and it should prind "You lose the game"

    if guess not in chosen_word:
        lives -= 1
        if lives == 0:
            game_over = True
            print(f"*************** It was {chosen_word}! You loss The game,Wish You all the Best for the next time !!******************")

    if "_" not in display:
        game_over=True
        print("***********You Win.!!****************")
    # Step 3 : Print the Asci Art from the satges
    # that Corresponsing to the current number of 'lives' the uses has remaining.

    print(stages[lives])

<>:3: SyntaxWarning: invalid escape sequence '\ '
<>:11: SyntaxWarning: invalid escape sequence '\ '
<>:20: SyntaxWarning: invalid escape sequence '\ '
<>:3: SyntaxWarning: invalid escape sequence '\ '
<>:11: SyntaxWarning: invalid escape sequence '\ '
<>:20: SyntaxWarning: invalid escape sequence '\ '
C:\Users\hirak\AppData\Local\Temp\ipykernel_1228\1802849662.py:3: SyntaxWarning: invalid escape sequence '\ '
  stages = ['''
C:\Users\hirak\AppData\Local\Temp\ipykernel_1228\1802849662.py:11: SyntaxWarning: invalid escape sequence '\ '
  ''','''
C:\Users\hirak\AppData\Local\Temp\ipykernel_1228\1802849662.py:20: SyntaxWarning: invalid escape sequence '\ '
  ''' , '''

baboon
______
*********<???> 6/6 LIVES Left ***************

Guess a letter lower:  b

 b_b___

 +----+
 |    |
      |
      |
      |
==========


*********<???> 6/6 LIVES Left ***************

Guess a letter lower:  o

 b_boo_

 +----+
 |    |
      |
      |
      |
==========


*********<???> 6/6 LIVES Left ***************

Guess a letter lower:  a

 baboo_

 +----+
 |    |
      |
      |
      |
==========


*********<???> 6/6 LIVES Left ***************

Guess a letter lower:  d

 baboo_

 +----+
 |    |
 0    |
      |
      |
==========

*********<???> 5/6 LIVES Left ***************

Guess a letter lower:  e

 baboo_

 +----+
 |    |
 0    |
 |    |
      |
      |
==========


*********<???> 4/6 LIVES Left ***************

Guess a letter lower:  e

 baboo_


 +----+
 |    |
 0    |
/|    |
      |
      |
==========


*********<???> 3/6 LIVES Left ***************

Guess a letter lower:  f

 baboo_

 +----+
 |    |
 0    |
/|\   |
      |
==========

*********<???> 2/6 LIVES Left ***************

Guess a letter lower:

 baboo_

 +----+
 |    |
 0    |
/|\   |
      |
==========

*********<???> 2/6 LIVES Left ***************

Guess a letter lower:  d

 baboo_

 +----+
 |    |
 0    |
/|\   |
/     |
      |
==========


*********<???> 1/6 LIVES Left ***************

Guess a letter lower:  a

 baboo_

 +----+
 |    |
 0    |
/|\   |
/     |
      |
==========


*********<???> 1/6 LIVES Left ***************

Guess a letter lower:  p

 baboo_
*************** It was baboon! You loss The game,Wish You all the Best for the next time !!******************

 +----+
 |    |
 0    |
/|\   |
/ \   |
      |
==========

### Number Gussing game : From 100 days of Python

In [8]:
logo = """
 _______           _______  _______  _______     _________          _______      _                 _______  ______   _______  _______   
(  ____ \|\     /|(  ____ \(  ____ \(  ____ \    \__   __/|\     /|(  ____ \    ( (    /||\     /|(       )(  ___ \ (  ____ \(  ____ )  
| (    \/| )   ( || (    \/| (    \/| (    \/       ) (   | )   ( || (    \/    |  \  ( || )   ( || () () || (   ) )| (    \/| (    )|  
| |      | |   | || (__    | (_____ | (_____        | |   | (___) || (__        |   \ | || |   | || || || || (__/ / | (__    | (____)|  
| | ____ | |   | ||  __)   (_____  )(_____  )       | |   |  ___  ||  __)       | (\ \) || |   | || |(_)| ||  __ (  |  __)   |     __)  
| | \_  )| |   | || (            ) |      ) |       | |   | (   ) || (          | | \   || |   | || |   | || (  \ \ | (      | (\ (     
| (___) || (___) || (____/\/\____) |/\____) |       | |   | )   ( || (____/\    | )  \  || (___) || )   ( || )___) )| (____/\| ) \ \__  
(_______)(_______)(_______/\_______)\_______)       )_(   |/     \|(_______/    |/    )_)(_______)|/     \||/ \___/ (_______/|/   \__/  
"""
from random import randint

print(logo)

EASY_LEVEL_TURNS = 10
HARD_LEVEL_TURNS = 5

# Function to Check user guess against actual answer
def check_answer (user_guess , actual_answer , turns):
    """" Check Answer against Guess , Returns the Number of Turns remaining. """
    if user_guess>actual_answer:
        print("*****Too High!! *******")
        return turns -1
    elif user_guess<actual_answer:
        print("*****Too Low!!********* ")
        return turns -1
    else:
        print(f" ****Congratulations !!! <3.*** You got it, the answer was {actual_answer}")


# Function to Set the difficulty
def set_difficulty():
    level = input("Choose a Difficulty Type.Type 'easy' or 'hard' : ")
    if level =="easy":
        return EASY_LEVEL_TURNS
    else:
        return HARD_LEVEL_TURNS

def game():
    # Choose a random number between 1 to 20
    print("Welcome to the number Gussing Game")
    print("I am thinking of Number Between 1 to 20")
    answer = randint(1, 20)
    print(f"Past , the correct answer is {answer}")

    turns = set_difficulty()


    guess = 0
    while guess != answer:
        print(f"you have {turns} attempts remaining to guess the number")
        # Let the user Guess a Number
        guess = int(input("Make a guess : "))
        # Track The Number of turns and Reduce by 1 if they get it wrong
        turns = check_answer(guess, answer, turns)
        if turns ==0:
            print("You have run out of guesses !! , You loss the Game.")
            return
        elif guess !=answer:
            print("guess Again. Wish You all the Best !!!")

game()

<>:1: SyntaxWarning: invalid escape sequence '\|'
<>:1: SyntaxWarning: invalid escape sequence '\|'
C:\Users\hirak\AppData\Local\Temp\ipykernel_1228\4057086534.py:1: SyntaxWarning: invalid escape sequence '\|'
  logo = """

 _______           _______  _______  _______     _________          _______      _                 _______  ______   _______  _______
(  ____ \|\     /|(  ____ \(  ____ \(  ____ \    \__   __/|\     /|(  ____ \    ( (    /||\     /|(       )(  ___ \ (  ____ \(  ____ )
| (    \/| )   ( || (    \/| (    \/| (    \/       ) (   | )   ( || (    \/    |  \  ( || )   ( || () () || (   ) )| (    \/| (    )|
| |      | |   | || (__    | (_____ | (_____        | |   | (___) || (__        |   \ | || |   | || || || || (__/ / | (__    | (____)|
| | ____ | |   | ||  __)   (_____  )(_____  )       | |   |  ___  ||  __)       | (\ \) || |   | || |(_)| ||  __ (  |  __)   |     __)
| | \_  )| |   | || (            ) |      ) |       | |   | (   ) || (          | | \   || |   | || |   | || (  \ \ | (      | (\ (
| (___) || (___) || (____/\/\____) |/\____) |       | |   | )   ( || (____/\    | )  \  || (___) || )   ( || )___) )| (____/\| ) \ \__
(_______)(_______)(_______/\_______)\_______)       )_(   |/     \|(_______/    |/    )_)(_______)|/     \||/ \___/ (_______/|/   \__/

Welcome to the number Gussing Game
I am thinking of Number Between 1 to 20
Past , the correct answer is 6

Choose a Difficulty Type.Type 'easy' or 'hard' :  easy

you have 10 attempts remaining to guess the number

Make a guess :  7

*****Too High!! *******
guess Again. Wish You all the Best !!!
you have 9 attempts remaining to guess the number

Make a guess :  6

 ****Congratulations !!! <3.*** You got it, the answer was 6

Question 3 : 
You are tasked with creating a program to calculate the sum of squares of the first n natural numbers, 
where n is entered by the user.

write python code to promt the user to enter a positive integer n .
Use a loop to calculate the sum if squares of the first n natural numbers.
Define a user-defined function to encapsulate
the sum of squares calculate logic and call this function with the user's input' .

In [81]:
def sum_of_squares(n):
    """Calculate the sum of squares of the first n natural numbers."""
    total = 0
    for i in range(1, n + 1):
        total += i**2
    return total

# Prompt the user to enter a positive integer
while True:
    try:
        n = int(input("Enter a positive integer: "))
        if n > 0:
            break
        else:
            print("Please enter a positive integer.")
    except ValueError:
        print("That's not an integer! Please enter a valid positive integer.")

# Calculate the sum of squares
result = sum_of_squares(n)

# Display the result
print(f"The sum of squares of the first {n} natural numbers is: {result}")

Enter a positive integer:  45

The sum of squares of the first 45 natural numbers is: 31395

## Very Basic Problem

In [4]:
print("Hello "+ input("Hello what is your name") +"!")

Hello what is your name hira

Hello hira!

### Swap Two Number

In [2]:
a = 10 
b = 15
a, b = b , a
print ("After Swapping")
print("a =",a)
print("b =",b)

After Swapping
a = 15
b = 10

### Exponent Function

In [15]:
print("The Expoent of 5*5 =",5**2)
print("The Expoent of 5*5*5 =",5**3)
print("The Expoent of 5*5*5*5 =",5**4)

The Expoent of 5*5 = 25
The Expoent of 5*5*5 = 125
The Expoent of 5*5*5*5 = 625

In [3]:
# Given three variables: a = ‘100’, b = 25, and c = ‘10.5’, write a Python program to perform the following operations and print the results: – Convert a to an integer and add it to b. – Convert c to a float and subtract it from the result of the first operation. – Convert the final result to a string and concatenate it with the string ” is the answer.”

# Given variables
a = '100'
b = 25
c = '10.5'

# Convert `a` to an integer and add it to `b`
a_int = int(a)
result = a_int + b

# Convert `c` to a float and subtract it from the result
c_float = float(c)
result -= c_float

# Convert the final result to a string and concatenate it with the string " is the answer."
result_str = str(result) + " is the answer."

# Output the result
print(result_str)

114.5 is the answer.

Question 1 

You have a Data containing two records:"Quantity" and "Price per unit".
How would you use arithmetic operators to calculate the total cost for item, also calculate the total Cost ? 
Product 1, Quantity=5, price per unit=Rs 250.
product 2 ,Quantity=25 ,price per unit=Rs 656. 
product 3 ,Quantity=34 ,price per unit=Rs 274.

In [19]:
#For Product 1:
Qunatity1=5
price_per_unit=250
total_price_product_1=Qunatity1*price_per_unit1
print("For Product 1 the Total Price is =",Qunatity1*price_per_unit,"Rs")
Qunatity2=25
price_per_unit2=656
total_price_product_2=Qunatity2*price_per_unit2
print("For Product 2 the Total Price is =",Qunatity2*price_per_unit2,"Rs")
Qunatity3=34
price_per_unit3=274
total_price_product_3=Qunatity3*price_per_unit3
print("For Product 3 the Total Price is =",Qunatity3*price_per_unit3,"Rs")

print ("In total Price is =",total_price_product_1+total_price_product_2+total_price_product_3,"Rs")

For Product 1 the Total Price is = 1250 Rs
For Product 2 the Total Price is = 16400 Rs
For Product 3 the Total Price is = 9316 Rs
In total Price is = 26966 Rs

Question 2 

In a Finance based organization,The task is to calculate the simple interest 
Given the principle amount,interest rate and time period,
The interest rate is 8%, the principal amount is Rs 15,00,000, and the time period is 3 years, calculate the simple interest. Also,the threshold amount is Rs 1,20,000 
Please check, if the calculated interest is greater or less than the threshold Amount.

In [20]:
principle_amount=1500000
time_period=3
interest_rate=8
simple_interest=(principle_amount*time_period*interest_rate)/100
print("The Simple Interest Rate is =",simple_interest)
threshol_amount=120000
print("The Threshold amount and Simple Interest are equal =",threshol_amount==simple_interest)
print("The Threshold amount is getter than the Simple Interest =",threshol_amount>simple_interest)
print("The Threshold amount is less than the Simple Interest =",threshol_amount<simple_interest)

The Simple Interest Rate is = 360000.0
The Threshold amount and Simple Interest are equal = False
The Threshold amount is getter than the Simple Interest = False
The Threshold amount is less than the Simple Interest = True

Qustion 2: 

As part of your role in a data-driven project, you need to take input from the user for their age , wight ,and height .However , there's 
an issue : 
the user has entered their age as a negetive number .
You need to correct the age of the user  and after correcting the age , calculating their Basal Metabolic Rate (BMR) 
using the Harris-Benedict equaiton for men .
Ensure that the final answer of BMR is an integer.

Basel Metabolic Rate (BMR) : 
Formula ( Harries Benedict equaion for men ) : 
BMR = 88.362 + (13.397 * weight in kg ) + ( 4.799*height  in cm ) - ( 5.677 * age in years)

In [22]:
age=int(input("enter the age"))
weight=int(input("enter the weight"))
height = float(input("Enter the Hight"))
correct_age = abs(age) 
print("The Corrent age of user  = ", correct_age)

BMR = "88.362 + (13.397 * weight ) + ( 4.799*height ) - ( 5.677 * age ) "
bmr = eval (BMR)
print ("Print the BMR of the patient is ",int(bmr))

enter the age 27
enter the weight 59
Enter the Hight 5.5

The Corrent age of user  =  27
Print the BMR of the patient is  751

Question 3 
Write a python code for hostel student , ask them to mention thier couruses name and age,
for 5 students and calculate thier avg age .

In [23]:
student1 = int(input("Enter his age is "))
student2 = int(input("Enter his age is "))
student3 = int(input("Enter his age is "))
student4 = int(input("Enter his age is "))
student5 = int(input("Enter his age is "))
AVG="((student1+student2+student3+student4+student5)/5)"
avg = eval(AVG)
print("The average age of 5 students is : ", float(avg))

Enter his age is  27
Enter his age is  21
Enter his age is  23
Enter his age is  34
Enter his age is  43

The average age of 5 students is :  29.6

Question 4 : 

In a Game applicaiton,The player's score is stored as a floating-point number,However,For leaderboard display,
you need to convert the score to an integer. 
How would you use the int() function to convert the player's score from floating-point to integer Formate ? 
please solve this with code, player score =1234.56

In [24]:
player_score_float =1234.56
print("This 1234.56 now in floating type",(type(player_score_float)))
print(player_score_float)
# Converting this into intger Type
player_score_int=int(player_score_float)
print("This 1234.56 now converted into integer value",(type(player_score_int)))
print(player_score_int)

This 1234.56 now in floating type <class 'float'>
1234.56
This 1234.56 now converted into integer value <class 'int'>
1234

# String Python

In [82]:
a = 'learners'
print (a)
print(type(a))

print("\n")

b = "Students"
print(b)
print(type(b))

print ("\n")

str = "I am Hira \nthis is my first class"
print(str)

print("\n")

# Multiple String
s = """Python is a high-level, general-purpose programming language. 
Its design philosophy emphasizes code readability with the use of significant indentation. 
Python is dynamically typed and garbage-collected. It supports multiple programming paradigms,
including structured, object-oriented and functional programming. """
print(s)

learners
<class 'str'>


Students
<class 'str'>


I am Hira
this is my first class


Python is a high-level, general-purpose programming language.
Its design philosophy emphasizes code readability with the use of significant indentation.
Python is dynamically typed and garbage-collected. It supports multiple programming paradigms,
including structured, object-oriented and functional programming.

### Indexing of String

In [83]:
a ="hello dear learners" 
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])

h
e
l
l
o

In [84]:
a ="hello dear learners" 
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])

s
r
e
n
r

In [85]:
b = "Data science is the growing field"
print(b[-1], b[-2] , b[-3])

d l e

# Slicing in Python

In [86]:
a="i am learing data Science"
print (a[0:8])

i am lea

### Slicing With jump

In [87]:
a= "i am leaning Data Science"
print (a[0:10:2])

ia en

### Negative Slicing regarding Jump

In [88]:
a= "i am leaning Data Science"
print (a[-16:-1])

ing Data Scienc

Question 2 : 
Write a python funciton that takes a string as input and returns the substring from the 3rd to the 8th character
"Data Science"
"Hello World, I am Learning Python"
"All the best"

In [89]:
def get_substring(input_string):
    """Returns the substring from the 3rd to the 8th character."""
    return input_string[2:8]

# Test cases
print(get_substring("Data Science"))                 # Output: "ta Sci"
print(get_substring("Hello World, I am Learning Python"))  # Output: "llo Wo"
print(get_substring("All the best"))                 # Output: "l the "

ta Sci
llo Wo
l the

Question 3 :
Write a python function that takes a date stirng in the format "YYYY-MM-DD"
and returns a tuple containing the year , month , and day as integers.

Example Input : "2024-05-28"
Expexted Output : (2021,5,28)

In [90]:
#we will use the concept of slicing 

def extract_date_parts(date_string):
    year = int(date_string[0:4])
    month = int(date_string[5:7])
    day = int(date_string[8:])
    return (year,month,day)

## String Concatination

If You want you can perform this like this too :--
Code:
a1="hello"
b1="Student"
c1=a1+" "+b1
print("After Contatenate these Two string we Find =",c1)
Output : 
After Contatenate these Two string we Find = hello Student

In [16]:
string1 = input("Enter the First string")
string2= input("Enter the 2nd string")
print(string1+" "+string2)

Enter the First string hira kharap
Enter the 2nd string ami valo

hira kharap ami valo

## String Reverse 
https://www.youtube.com/watch?v=NCXrRuCthZY

Hira = 3
these three are same [:] 
                    [0:3]
                     [::]
print = koreb --> Hira

In [40]:
s = input("Enter any Number")
revstr = s[::-1]
print(f"the reverse string is =  {revstr} ")

Enter any Number 20

the reverse string is =  02

## String Palindrom

In [41]:
s = input("enter Any string ")
revstr = s[::-1]
if s==revstr:
    print("Palindrom")
else:
    print("Not palindrom")

enter Any string  hira

Not palindrom

## Lenth Method

In [91]:
s =""
print(len(s))

print("\n")

s=" "
print (len(s))

print("\n")

s = "theiscale"
print(len(s))

print("\n")

a = "the iscale"
print(len(a))

0


1


9


10

# Stirng With Special Symbol

In [92]:
s = "erfanulkabir@world"
print(s)
print(len(s))

print("\n")

s = "hello\nworld"
print(s)
print(len(s))

print("\n")

s="""hello
World """
print(s)
print(len(s))

print ("\n")
a="Python is a high-level, general-purpose programming language. "
print(len(a))

erfanulkabir@world
18


hello
world
11


hello
World
12


62

## Modify String

In [93]:
s = "This is the iscale"
print(s.upper())

print("\n")

s = "This IS the iscale 123"
print(s.upper())

THIS IS THE ISCALE


THIS IS THE ISCALE 123

## Lower String

In [94]:
k = "THIS IS THE ISCALE"
print(k.lower())

this is the iscale

## Replace Method

In [95]:
text = "Hello Word , i am liearning python"
rep = text.replace("python", "Data Science")
print(rep)

print("\n")

a = """I am Hira , My full name is Not Hira ,
This is my Nick Name Hira """
rep = a.replace("Hira", "Chagol chor ")
print(rep)

Hello Word , i am liearning Data Science


I am Chagol chor  , My full name is Not Chagol chor  ,
This is my Nick Name Chagol chor

## Index Method

In [96]:
a = "I want to Learn "
print(a.index("to"))

7

## Find Method

In [97]:
a = "Python is great"
b = a.find("g")
print(b)

10

Write a python porgrma that accomplishess the following tasks : 

1)Concatenate the strings "hello" and "World"
2)Find the lenth of the resulting string form the concotenation.
3)Extract the substring obtained in the previous step.
4)Reverse the substring obtained in the previous step.
5)Convert th reveresed substring to uppercase.
6)Replace the letter "L" with "X" in the revesed and uppercase substring .

In [98]:
concotenated_string = "hello" + "World"
lentgh = len(concotenated_string)
substring = concotenated_string[5:]
reverse = substring [::-1]
upper = reverse.upper()
modify = upper.replace("l", "x")

print (concotenated_string)
print (lentgh)
print (substring)
print (reverse)
print (upper)
print (modify)

helloWorld
10
World
dlroW
DLROW
DLROW

## If-elif-else  --> Condtional Statement Problem

### Largest Number Among Three

In [4]:
num1 = int(input("Enter the First Number"))
num2 = int(input("Enter the 2nd Number"))
num3 = int(input("Enter the 3rd Number"))

# Initiallly Largest = nnum1
largest = num1
if num2>largest:
    largest =num2
if num3>largest:
    largest=num3

print(f"the largest number is {largest}")

Enter the First Number 3
Enter the 2nd Number 5
Enter the 3rd Number 2

the largest number is 5

### Pizza Order Practise

In [5]:
print("Welcoe to Python pizza Deliveries !")
size = input("What size do you want ? S, M or L !!")
Peparoni =input("Do you want peparoni on your pizza ? Y or N : ")
extra_cheese = input("Do you want Extra chees ? Y or N !!")

bill = 0
if size =="S":
    bill+=15
elif size =="M":
    bill+=20
elif size =="L":
    bill +=25
else:
    print("You type the Wrong Input !!")


if Peparoni =="Y":
    if size=="S":
        bill+=2
    else:
        bill+=3

if extra_cheese=="Y":
    bill+=1

print(f"Final Bill is :${bill}.")

Welcoe to Python pizza Deliveries !

What size do you want ? S, M or L !! S
Do you want peparoni on your pizza ? Y or N :  Y
Do you want Extra chees ? Y or N !! N

Final Bill is :$17.

### Rollercuster

In [9]:
print("Welcome to the Roller Coaster!")
height = int(input("What is your height in cm? "))  # Convert input to integer
bill = 0

if height >= 120:  # Compare integers
    print("You can ride the roller coaster!")
    age = int(input("What is your age? "))  # Convert input to integer
    if age < 12:
        bill = 5
        print("Child tickets are $5.")
    elif age <= 18:
        bill = 7
        print("Teen tickets are $7.")
    elif 45 <= age <= 55:
        print("Everything is going to be okay! Have a free ride on us!")
    else:
        bill = 12
        print("Adult tickets are $12.")
    
    wants_photo = input("Do you want a photo taken? Y or N ").strip().upper()  # Normalize input
    if wants_photo == "Y":
        bill += 3
    print(f"Your final bill is ${bill}.")
else:
    print("Sorry, you need to be taller to ride. Hope for the best!")

Welcome to the Roller Coaster!

What is your height in cm?  30

Sorry, you need to be taller to ride. Hope for the best!

### Leap Year or Not

In [5]:
year = int(input("Enter any Number"))

if (year%4==0 and year%100!=0) or (year%400==0):
    print(f"This {year} is Leap year ")
else:
    print(f"This {year} is not Leap year ")

Enter any Number 2025

This 2025 is not Leap year

### Grade Classificaiton

In [6]:
number = float(input("provide your Desired Marks "))
if number >=90:
    grade="A+"
elif number >=80:
    grade="A"
elif number >=70:
    grade="B"
else:
    grade="Fail"

print(f"The grade is {grade}")

provide your Desired Marks  75

The grade is B

Question 

Write a python program that promts the user to input a city and display the famous monument of that city .
Mumbai : Gateway of Inida
Kolkata : Victory Memorial 
Chennai : Marina Beach 
Bangalore : Botanical Garden 
Pune : Shaniwar Wada 
Write a python script to implement the functionality .

In [47]:
a = input("enter your city ")
if a=="Mumbai": 
    print("The famous Monoment is gat way of India ")
elif a=="Kolkata":
    print("The famous Monoment is Victory Memorial")
elif a=="Chennai":
    print("The famous Monoment is Marina Beach")
elif a=="Bangalore":
    print("The famous Monoment is Botanical garder")
elif a=="Pune":
    print("The famous Monoment is shaniwar wada")
else : 
    print("No record is Found")

enter your city  Kolkata

The famous Monoment is Victory Memorial

### Vowel or Consunent
https://www.youtube.com/watch?v=N1dEdieBHRY&t=257s

In [7]:
variable  = input("Enter any Alphabet")

#initialized 
count_vowels = 0 
count_consunent = 0 
vowel = 'AEIOUaeiou'
for i in variable:
    if i in vowel:
        count_vowels+=1
    else:
        count_consunent+=1

print('count vowel', count_vowels)
print('Count Consunent', count_consunent)

Enter any Alphabet hira

count vowel 2
Count Consunent 2

### Triangle Type Problem

In [8]:
# 17. Triangle Type Checker: Write a Python program that takes three sides of a triangle as input and determines whether it forms an equilateral, isosceles, or scalene triangle.

# Taking the three sides of the triangle as input from the user
side1 = float(input("Enter the first side of the triangle: "))
side2 = float(input("Enter the second side of the triangle: "))
side3 = float(input("Enter the third side of the triangle: "))

# Checking if the sides form a valid triangle
if (side1 + side2 > side3) and (side1 + side3 > side2) and (side2 + side3 > side1):
    # Determining the type of triangle
    if side1 == side2 == side3:
        triangle_type = "Equilateral"
    elif side1 == side2 or side1 == side3 or side2 == side3:
        triangle_type = "Isosceles"
    else:
        triangle_type = "Scalene"
else:
    triangle_type = "Invalid triangle"

# Output the type of triangle
print(f"The triangle is {triangle_type}.")

Enter the first side of the triangle:  5
Enter the second side of the triangle:  6
Enter the third side of the triangle:  7

The triangle is Scalene.

Question 2: 

You are tasked with developing a python program to manage employee salarees for a company .
Your program should calculate the net salary of each employee based on their base salary , 
duductions , and bonuses . Additionally , employees who have been with the company for more than
5 years are eligible for an additional loyalty bonus , 8% of salary .
Deductions of tax will be 12%
                    
write a python script that promts the user to input the following information for each employee: 

base Salary 
                                                                 
Yeears of Service

After Calculating the net salary , 
The program should print the summary for each employee , including their base salary , deductions , bonuses, 
loyalty bonus (if applicable) , and net salary .

In [46]:
base_salary = float(input("Enter your base salary"))
years_of_service = int(input("Enter Your years of Service"))
if years_of_service>5:
    total_salary =base_salary + (0.08*base_salary)-(0.12*base_salary)
    print("You will get net salary", total_salary)
else: 
    net_salary =base_salary - (0.12*base_salary)
    print("your net salary is ", net_salary)

Enter your base salary 20000
Enter Your years of Service 6

You will get net salary 19200.0

## For Loop-while loop  --> Loop Problem

Question 1: 
Implement a python program to generate the multiplicaiton table of a given numbers using a for loop

In [50]:
number = int(input("Enter a number to generate its Multiplicaiton table"))
print ("The Multiplication of = ",number)

for i in range (1,11):
    print (f"{number}x{i} = {number*i}")

Enter a number to generate its Multiplicaiton table 5

The Multiplication of =  5
5x1 = 5
5x2 = 10
5x3 = 15
5x4 = 20
5x5 = 25
5x6 = 30
5x7 = 35
5x8 = 40
5x9 = 45
5x10 = 50

### Odd or Even Number

In [51]:
for i in range (0,11):
    if i%2==0:
        print("The number is even =",i)
    else:
        print("The number is odd =",i)

The number is even = 0
The number is odd = 1
The number is even = 2
The number is odd = 3
The number is even = 4
The number is odd = 5
The number is even = 6
The number is odd = 7
The number is even = 8
The number is odd = 9
The number is even = 10

### Sum of N numbers

In [9]:
num = int(input("Enter any Number"))

sum =0 

for i in range (1, num+1):
    sum+=i

print (f"The sum of {num} is {sum}")

Enter any Number 45

The sum of 45 is 1035

### total number Summation

In [11]:
student_scores = [150 , 142, 185, 120 , 171 , 184, 149 , 24 ]
total_exam_score = sum(student_scores)
sum=0
for score in student_scores:
    sum+=score
print(sum)

1125

### Largest Number Among List --> witout build in function

In [14]:
student_scores = [150 , 142, 185, 120 , 171 , 184, 149 , 24 ]
max_score =0
for score in student_scores:
    if score>max_score:
        max_score=score
print(max_score)

185

### Largest Number Among List --> By build in function ==> max

In [12]:
student_scores = [150 , 142, 185, 120 , 171 , 184, 149 , 24 ]
print(max(student_scores))

185

Question 2 : 
You are tasked with creating a program to assist shoppers in calculating their total bill at a grocery sotre.
The store offers discounts based on the total purchase amount. Your task is to implement a python program that 
tasks the price of each item purchased and calculates the total bill, including any applicaiton discounts 
The store offers the following discount rates 
based on the total purchase amount: 

->if the total purchase amount is $100 or more, Then the customer receiver a 10% discount .
->if the total purchase amount is between $50 and $99.99, Then the customer receives a 5% discount.
->if the total purchase amount is less than $50 , no discount is applied.

write a python program to promt the user to enter the prices of the item they purchased.
use a for loop to itertate through the prices 
entered and calculate the subtotal .

Apply the appropriate discount based on the total purchase amount using if-else statements.
finally , print out the subtotal , discount amount (if any), and the total bill after applying the discount.

In [52]:
num_items = int(input("Enter the number of item purchased="))
total_price = 0

for i in range(num_items):
    price=float(input("Enter the price of the item="))
    total_price = total_price + price 
    i=i+1
if total_price>=100:
    discount =0.1*total_price
elif 50<=total_price <100:
    discount = 0.5*total_price
else:
    discount = 0 

total_bill = total_price -discount 
print("Subtotal ", total_bill)

Enter the number of item purchased= 5
Enter the price of the item= 10
Enter the price of the item= 15
Enter the price of the item= 18
Enter the price of the item= 20
Enter the price of the item= 56

Subtotal  107.1

### Sum of Even Number

In [13]:
num = int(input("Enter Any Number"))
sum=0 
current=2
while current<=num:
    sum+=current
    current +=2
print(f"The sum of all Even Number between 1 and {num} is : {sum}")

Enter Any Number 12

The sum of all Even Number between 1 and 12 is : 42

Qustion 1: 
Write a python progtam to print all the even numbers between 1 and 50 using a while loop

In [48]:
count = 1
while count<50:
    if count%2==0:
        print(count)
    count=count+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

Quesiton 1: 
you are taked with validating user input for emial address . 
Write a python program that promts the user to enter an emial address .
Use a while loop to iterate through the input and check if the email address contains and '@' and '.' symbol. 
If the email address does not meet this criteria , print "Invalid emial address format. please try again ". 
Otherwise , Print emial address validation passed

In [49]:
email = input("Please enter your mail Address")
#Initilization a flag track validation status
valid_email = False

#start the loop 
while not valid_email: 
    #check if emial contains "a" and "."
    if "@"in email and "." in email:
        print ("Emial Address validation passed")
        valid_email=True 
    else:
        print("Invalid email Address , please try again")
        email=input("please enter your Mail address")

Please enter your mail Address erfanulkabirhira132@gmail.com

Emial Address validation passed

### Factorial Calculation

In [10]:
N = int(input("Enter Any Number which is Greater than 0"))
fact = 1 
while N > 0:
    fact*=N
    N-=1

print(f"The Factorial value of is = {fact} ")

Enter Any Number which is Greater than 0 5

The Factorial value of is = 120

### Count Digit of N Numbers
https://www.youtube.com/watch?v=STcQTjhIKkc&t=219s

In [11]:
num = int(input("Enter a number to count the digit "))
count=0
while num !=0:
    num//=10
    count +=1

print(f"The Digit of this {num} is {count}")

Enter a number to count the digit  334

The Digit of this 0 is 3

### Fibonacci Series
https://www.youtube.com/watch?v=Ib1bSQdXBZ0

In [12]:
num = int(input("Enter Any Number"))
n1 , n2 = 0 , 1
sum=0
if num<=0:
    print("Please Enter a Number which is greater Than Zero")
for i in range (0 , num):
    print(sum,end=" ")
    n1=n2
    n2=sum
    sum=n1+n2

Enter Any Number 10

0 1 1 2 3 5 8 13 21 34

### Prime Number or Not

In [14]:
num = int(input("Enter Any Number"))
for i in range (2, num):
    if num%i==0:
        print("Not a Prime Number")
        break
    else:
        print("Prime Number")
        break

Enter Any Number 23

Prime Number

Question 1 
You are Developing a program for a math competition where participants need to solve mathematical expressions and provide the result.
You want to use python to automate the evaluation process.
Here's How you could approach it : 

1)Take input from the participant to enter a mathematical expression 
2)Evaluate the expression entered by the participant and obtain the result.
3)Display the result to the participant.

In [42]:
expression = input("Enter a mathematical expression")
result =eval(expression)
print("The result of the expression is ", result )
print("Thank you for participating in the maths compertition ")

Enter a mathematical expression 25*45+96-52*3/2.4

The result of the expression is  1156.0
Thank you for participating in the maths compertition

Question 2 
Suppose you are analyzing dataset containing information about house prices in a party.
Each record includes details such as the house size 
(in square feet ) , number of bedrooms , and price . 
You want to perform various calculations and manipulations on this Dataset using python.
Answer the following qustion : 

1)Ask the user 1 & 2 to enter hosue size , number of rooms they want and , check the data type user has entered
2) Calculate the price of house , if per sq feet is Rs 5000 
3)Threshold price is 75 lakh Rs, Which user  is  paying the price abbove threshold price .

In [43]:
house_size_1 = float(input("enter the Size of the hosue"))
bedrooms_1 = int(input("Enter the number of bedrooms"))
price_1= float(input("Enter the budget"))

house_size_2 = float(input("enter the Size of the hosue"))
bedrooms_2 = int(input("Enter the number of bedrooms"))
price_2= float(input("Enter the budget"))

house_price_1= house_size_1*5000
print("The price of the house for the user1 ", house_price_1)

house_price_2= house_size_2*5000
print("The price of the house for the user2 ", house_price_2)

threshold_price = 7500000
user1_threshold = house_price_1 >=threshold_price
user2_threshold = house_price_2 >=threshold_price
print (f"user 1 is paying above thresold ", {user1_threshold})
print (f"user 2 is paying above thresold ", {user2_threshold})

enter the Size of the hosue 1500
Enter the number of bedrooms 4
Enter the budget 80000
enter the Size of the hosue 2000
Enter the number of bedrooms 2
Enter the budget 75000

The price of the house for the user1  7500000.0
The price of the house for the user2  10000000.0
user 1 is paying above thresold  {True}
user 2 is paying above thresold  {True}

Question 3 
You are working on a project to analyze stock market data '.
Create a variable to store the stock symbol , current price , 
and Percentage change in Price . Then Calculate the new price after a 10% increase using arithmatic operaitons, 
Finally , promt the user to enter their budget using the input() function , 
convert it to a float using the float()  funciton , and compare it with the new price

In [44]:
stock_symbol = 'xyz'
current_price = 100
percent_change = 10 
new_price = current_price*(1+percent_change/100)
print("the new price of the stock is ", new_price)
user_budget = int(input("enter Your Budget"))
a=user_budget >=new_price
print("User budget is greater than new price ", a)

the new price of the stock is  110.00000000000001

enter Your Budget 500

User budget is greater than new price  True

Question 4 
You are working on a project to analyze weather data.
Create variables to store the current temperature , 
the minimum temperature recored  , and the maximum temparature recorded .
Determine whether the current temperature is within the range of the minimum and maximum temperatures 
recorded using logical operators

In [45]:
# Variables to store the temperatures
current_temperature = 25.5  # current temperature in degrees Celsius
min_temperature_recorded = 20.0  # minimum temperature recorded in degrees Celsius
max_temperature_recorded = 30.0  # maximum temperature recorded in degrees Celsius

# Check if the current temperature is within the range
is_within_range = min_temperature_recorded <= current_temperature <= max_temperature_recorded

# Output the result
print("Current temperature is within the recorded range:", is_within_range)

Current temperature is within the recorded range: True

## Break Statement

In [53]:
for i in range(5):
    if i ==3:
        break 
    print(i)

0
1
2

## Continue Statement

In [54]:
for i in range(5):
    if i==3:
        continue
    print(i)
print("I am Learning python")

0
1
2
4
I am Learning python

## List Problem

Question 5 : 
In a customer relationship management (CRM) system for a retail company, you have a database containing customer reocords.
How would you use the len() function to find the total number of Customer in the database, allowing the company to track its customer base? 

Customer_databse = [
                 (1 , 'John Doe' , 'John@example.com'),
                 (1 , 'Hira' , 'erfanulkabirhira132@gmail.com'),
                (1 , 'Jira' , 'Jira@example.com'),
                ]

In [27]:
Customer_database = [ 
    (1 , 'John Doe' , 'John@example.com'),
    (1 , 'Hira' , 'erfanulkabirhira132@gmail.com'),
    (1 , 'Jira' , 'Jira@example.com'),
]
print ("The total number of customer in the database is ", len(Customer_database))

The total number of customer in the database is  3

### List Comparison 
https://www.youtube.com/watch?v=OYnZETHs-4M

In [28]:
#without List Comprehension 

l=[]
for i in range (1, 101):
    l.append(i)
print(l)

print ("")

# With Compression 
n=[m for m in range (1, 101)]
print(n)

print(" ")
#with list comprehension for even Number 
n=[m for m in range (1, 101) if m%2==0]
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

### create list and print new List with square of elementsabs
https://www.youtube.com/watch?v=m751AQKDB9M

In [29]:
l=[]
for i in range (1, 20):
    l.append(i)

print ("Original list : ")
print(l)
newlist =[i*i for i in l ]
print(newlist)

Original list :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

### List avg

In [32]:
# Sample list of integers
numbers = [10, 20, 30, 40, 50]

# Calculate the sum of elements
total_sum = sum(numbers)

# Calculate the number of elements
num_elements = len(numbers)

# Calculate the average
average = total_sum / num_elements

# Print the result
print(f"The average of the list is: {average}")

TypeError: 'int' object is not callable

### Max and Min Number

In [33]:
# Sample list of integers
numbers = [10, 20, 30, 40, 50]

# Find the maximum and minimum values
max_value = max(numbers)
min_value = min(numbers)

# Print the results
print(f"The maximum value in the list is: {max_value}")
print(f"The minimum value in the list is: {min_value}")

The maximum value in the list is: 50
The minimum value in the list is: 10

### List Sorting

In [34]:
# Sample list of integers
numbers = [50, 20, 40, 10, 30]

# Sorting the list in ascending order
numbers.sort()

# Print the result
print(f"The sorted list is: {numbers}")

The sorted list is: [10, 20, 30, 40, 50]

### List Filtering

In [35]:
# Sample list of integers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Using list comprehension to filter even numbers
even_numbers = [num for num in numbers if num % 2 == 0]

# Print the result
print(f"The original list: {numbers}")
print(f"The list of even numbers: {even_numbers}")

The original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The list of even numbers: [2, 4, 6, 8, 10]

### list reverse

In [36]:
# Sample list of integers
numbers = [1, 2, 3, 4, 5]

# Initialize an empty list to store the reversed list
reversed_list = []

# Reverse the list manually
for i in range(len(numbers) - 1, -1, -1):  # Start from the last index to the first
    reversed_list.append(numbers[i])

# Print the result
print(f"The original list: {numbers}")
print(f"The reversed list: {reversed_list}")

The original list: [1, 2, 3, 4, 5]
The reversed list: [5, 4, 3, 2, 1]

### List Manipulation

In [37]:
# Sample lists of integers
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Using list comprehension to find common elements
common_elements = [element for element in list1 if element in list2]

# Print the result
print(f"List 1: {list1}")
print(f"List 2: {list2}")
print(f"Common elements: {common_elements}")

List 1: [1, 2, 3, 4, 5]
List 2: [4, 5, 6, 7, 8]
Common elements: [4, 5]

### List Element Count

In [38]:
# Sample list of integers
numbers = [1, 2, 3, 2, 4, 2, 5, 2]

# Element to count
target_element = 2

# Count occurrences manually
count = 0
for num in numbers:
    if num == target_element:
        count += 1

# Print the result
print(f"The element {target_element} occurs {count} times in the list.")

The element 2 occurs 4 times in the list.

### List Duplicates Removal

In [39]:
# Sample list of integers with duplicates
numbers = [1, 2, 2, 3, 4, 4, 5, 3]

# Initialize an empty list to store unique elements
unique_numbers = []

# Loop through the original list
for num in numbers:
    if num not in unique_numbers:  # Check if the element is already in the unique list
        unique_numbers.append(num)

# Print the result
print(f"The original list: {numbers}")
print(f"The list without duplicates: {unique_numbers}")

The original list: [1, 2, 2, 3, 4, 4, 5, 3]
The list without duplicates: [1, 2, 3, 4, 5]

### Creating a list -> Creating a table with the help list

In [55]:
# Creating a list only
car_data = [
    ["Jeep Compass 2.0 Longitude Option BSIV","10.03 Lakh","86,226 kms","Diesel","Manual","1st Owner","January 15,2017","1956 cc","5 Seats"],
    ["Renault Duster RXZ Turbo CVT"," "," ","Petrol","Automatic","1st Owner","January 15,2018","1330 cc", "5 Seats"] 
]

In [56]:
car_data

[['Jeep Compass 2.0 Longitude Option BSIV',
  '10.03 Lakh',
  '86,226 kms',
  'Diesel',
  'Manual',
  '1st Owner',
  'January 15,2017',
  '1956 cc',
  '5 Seats'],
 ['Renault Duster RXZ Turbo CVT',
  ' ',
  ' ',
  'Petrol',
  'Automatic',
  '1st Owner',
  'January 15,2018',
  '1330 cc',
  '5 Seats']]

In [57]:
# For Showing this as a datafram i have to import Pandas  : ->
import pandas as pd

In [58]:
#let's put this car_data set into a Data Frame
df = pd.DataFrame(car_data)

In [59]:
df

,0,1,2,3,4,5,6,7,8
0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,"January 15,2017",1956 cc,5 Seats
1,Renault Duster RXZ Turbo CVT,,,Petrol,Automatic,1st Owner,"January 15,2018",1330 cc,5 Seats

In [60]:
# For setting the Column Name :->
df = pd.DataFrame(car_data, columns=['car_name', 'car_prices_in_rupee', 'kms_driven', 'fuel_type','transmission','ownership','manufacture',
                                     'engine','Seats'])

In [61]:
df

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,"January 15,2017",1956 cc,5 Seats
1,Renault Duster RXZ Turbo CVT,,,Petrol,Automatic,1st Owner,"January 15,2018",1330 cc,5 Seats


## Creating a Dictionary -> Creating table with the help of Dictionary
### With the Dictionary we can create this table so so easily

In [62]:
# Creating a Dictionary only
data = {
    "car_name":["Jeep Compass 2.0 Longitude Option BSIV",
        "Renault Duster RXZ Turbo CVT"],
   "car_prices_in_rupee": ["10.03 Lakh", " "],
   "kms_driven": ["86,226 kms", " ",],
   "fuel_type": ["Diesel", "Petrol"],
   "transmission": ["Manual", "Automatic"],
    "ownership": ["1st Owner", "1st Owner"],
    "manufacture":["January 15,2017",
        "January 15,2018"],
   "engine": ["1956 cc", "1330 cc"],
    "Seats":["5 Seats", "5 Seats"]
}

In [63]:
data

{'car_name': ['Jeep Compass 2.0 Longitude Option BSIV',
  'Renault Duster RXZ Turbo CVT'],
 'car_prices_in_rupee': ['10.03 Lakh', ' '],
 'kms_driven': ['86,226 kms', ' '],
 'fuel_type': ['Diesel', 'Petrol'],
 'transmission': ['Manual', 'Automatic'],
 'ownership': ['1st Owner', '1st Owner'],
 'manufacture': ['January 15,2017', 'January 15,2018'],
 'engine': ['1956 cc', '1330 cc'],
 'Seats': ['5 Seats', '5 Seats']}

In [64]:
# Converting this Dictionary into a Data frame
import pandas as pd

In [65]:
# Create DataFrame
df = pd.DataFrame(data)

In [66]:
data

{'car_name': ['Jeep Compass 2.0 Longitude Option BSIV',
  'Renault Duster RXZ Turbo CVT'],
 'car_prices_in_rupee': ['10.03 Lakh', ' '],
 'kms_driven': ['86,226 kms', ' '],
 'fuel_type': ['Diesel', 'Petrol'],
 'transmission': ['Manual', 'Automatic'],
 'ownership': ['1st Owner', '1st Owner'],
 'manufacture': ['January 15,2017', 'January 15,2018'],
 'engine': ['1956 cc', '1330 cc'],
 'Seats': ['5 Seats', '5 Seats']}

In [67]:
# Display the DataFrame
print(df)

                                 car_name car_prices_in_rupee  kms_driven  \
0  Jeep Compass 2.0 Longitude Option BSIV          10.03 Lakh  86,226 kms
1            Renault Duster RXZ Turbo CVT

  fuel_type transmission  ownership      manufacture   engine    Seats
0    Diesel       Manual  1st Owner  January 15,2017  1956 cc  5 Seats
1    Petrol    Automatic  1st Owner  January 15,2018  1330 cc  5 Seats

In [68]:
df

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,"January 15,2017",1956 cc,5 Seats
1,Renault Duster RXZ Turbo CVT,,,Petrol,Automatic,1st Owner,"January 15,2018",1330 cc,5 Seats