## part 1

### Very Basic

# Probem

### Swap Two Numeber

In [7]:
a = 10 
b = 15
a, b = b , a
print ("After Swapping")
print("a =",a)
print("b =",b)

After Swapping
a = 15
b = 10

### Even or Odd

In [9]:
num = int(input("Enter Any Number"))
if num % 2==0:
    print("Even Number")
else:
    print("Odd Number")

Enter Any Number 4

Even Number

## String Reverse 
https://www.youtube.com/watch?v=NCXrRuCthZY

Hira = 3
these three are same [:] 
                    [0:3]
                     [::]
print = koreb --> Hira

In [21]:
s = input("Enter any Number")
revstr = s[::-1]
print(f"the reverse string is =  {revstr} ")

Enter any Number 34

the reverse string is =  43

## String Palindrom

In [23]:
s = input("enter Any string ")
revstr = s[::-1]
if s==revstr:
    print("Palindrom")
else:
    print("Not palindrom")

enter Any string  kabir

Not palindrom

## String Concatination

In [30]:
string1 = input("Enter the First string")
string2= input("Enter the 2nd string")
print(string1+" "+string2)

Enter the First string jit
Enter the 2nd string jtie

jit jtie

## Type Convertion

In [12]:
int_list = [1, 2, 3, 4, 5]
str_list = [str(i) for i in int_list]
print("list of string = ", str_list)

list of string =  ['1', '2', '3', '4', '5']

## Temperatre Convertion

In [13]:
# Temperature Converter: Write a Python program that converts a temperature in Celsius to Fahrenheit. Take the Celsius temperature as input from the user.
# Taking Celsius temperature as input from the user
celsius = float(input("Enter temperature in Celsius: "))

# Converting Celsius to Fahrenheit
fahrenheit = (celsius * 9/5) + 32

# Output the result
print(f"{celsius}°C is equal to {fahrenheit}°F")

Enter temperature in Celsius:  43

43.0°C is equal to 109.4°F

## Data Type Checker

In [16]:
rollno = 1
name = "Hira"
marks = 99.99
print(type(rollno))
print(type(name))
print(type(marks))

<class 'int'>
<class 'str'>
<class 'float'>

In [32]:
# Given three variables: a = ‘100’, b = 25, and c = ‘10.5’, write a Python program to perform the following operations and print the results: – Convert a to an integer and add it to b. – Convert c to a float and subtract it from the result of the first operation. – Convert the final result to a string and concatenate it with the string ” is the answer.”

# Given variables
a = '100'
b = 25
c = '10.5'

# Convert `a` to an integer and add it to `b`
a_int = int(a)
result = a_int + b

# Convert `c` to a float and subtract it from the result
c_float = float(c)
result -= c_float

# Convert the final result to a string and concatenate it with the string " is the answer."
result_str = str(result) + " is the answer."

# Output the result
print(result_str)

114.5 is the answer.

# part 2

### +ve , -ve or Zero

In [2]:
num = int(input("Enter Any Number"))
if num<0:
    print("This is Negetive Number")
elif num>0:
    print("This is Positive Numbe")
else:
    print("The number is Zero ")

Enter Any Number -4

This is Negetive Number

### Largest among three Number

In [4]:
num1 = int(input("Enter the First Number"))
num2 = int(input("Enter the 2nd Number"))
num3 = int(input("Enter the 3rd Number"))

# Initiallly Largest = nnum1
largest = num1
if num2>largest:
    largest =num2
if num3>largest:
    largest=num3

print(f"the largest number is {largest}")

Enter the First Number 1
Enter the 2nd Number 2
Enter the 3rd Number 3

the largest number is 3

### Leap Year or not

In [6]:
year = int(input("Enter any Number"))

if (year%4==0 and year%100!=0) or (year%400==0):
    print(f"This {year} is Leap year ")
else:
    print(f"This {year} is not Leap year ")

Enter any Number 2024

This 2024 is Leap year

### Grade Classifiaction

In [13]:
number = float(input("provide your Desired Marks "))
if number >=90:
    grade="A+"
elif number >=80:
    grade="A"
elif number >=70:
    grade="B"
else:
    grade="Fail"

print(f"The grade is {grade}")

provide your Desired Marks  44.4

The grade is Fail

### Vowel or Consuenent 
https://www.youtube.com/watch?v=N1dEdieBHRY&t=257s

In [48]:
variable  = input("Enter any Alphabet")

#initialized 
count_vowels = 0 
count_consunent = 0 
vowel = 'AEIOUaeiou'
for i in variable:
    if i in vowel:
        count_vowels+=1
    else:
        count_consunent+=1

print('count vowel', count_vowels)
print('Count Consunent', count_consunent)

Enter any Alphabet hira

count vowel 2
Count Consunent 2

### Triangle Type

In [18]:
# 17. Triangle Type Checker: Write a Python program that takes three sides of a triangle as input and determines whether it forms an equilateral, isosceles, or scalene triangle.

# Taking the three sides of the triangle as input from the user
side1 = float(input("Enter the first side of the triangle: "))
side2 = float(input("Enter the second side of the triangle: "))
side3 = float(input("Enter the third side of the triangle: "))

# Checking if the sides form a valid triangle
if (side1 + side2 > side3) and (side1 + side3 > side2) and (side2 + side3 > side1):
    # Determining the type of triangle
    if side1 == side2 == side3:
        triangle_type = "Equilateral"
    elif side1 == side2 or side1 == side3 or side2 == side3:
        triangle_type = "Isosceles"
    else:
        triangle_type = "Scalene"
else:
    triangle_type = "Invalid triangle"

# Output the type of triangle
print(f"The triangle is {triangle_type}.")

Enter the first side of the triangle:  1
Enter the second side of the triangle:  2
Enter the third side of the triangle:  3

The triangle is Invalid triangle.

# Part 3

### Sum of n numbers

In [19]:
num = int(input("Enter any Number"))

sum =0 

for i in range (1, num+1):
    sum+=i

print (f"The sum of {num} is {sum}")

Enter any Number 10

The sum of 10 is 55

## Factorial Calculation

In [22]:
N = int(input("Enter Any Number which is Greater than 0"))
fact = 1 
while N > 0:
    fact*=N
    N-=1

print(f"The Factorial value of is = {fact} ")

Enter Any Number which is Greater than 0 4

The Factorial value of is = 24

### Count Digit in Number
https://www.youtube.com/watch?v=STcQTjhIKkc&t=219s

In [28]:
num = int(input("Enter a number to count the digit "))
count=0
while num !=0:
    num//=10
    count +=1

print(f"The Digit of this {num} is {count}")

Enter a number to count the digit  112

The Digit of this 0 is 3

### Fibonacci Serise 
https://www.youtube.com/watch?v=Ib1bSQdXBZ0

In [32]:
num = int(input("Enter Any Number"))
n1 , n2 = 0 , 1
sum=0
if num<=0:
    print("Please Enter a Number which is greater Than Zero")
for i in range (0 , num):
    print(sum,end=" ")
    n1=n2
    n2=sum
    sum=n1+n2

Enter Any Number 10

0 1 1 2 3 5 8 13 21 34

### Sum of Even Numbers

In [33]:
num = int(input("Enter Any Number"))
sum=0 
current=2
while current<=num:
    sum+=current
    current +=2
print(f"The sum of all Even Number between 1 and {num} is : {sum}")

Enter Any Number 10

The sum of all Even Number between 1 and 10 is : 30

### Prime Number or Not

In [4]:
num = int(input("Enter Any Number"))
for i in range (2, num):
    if num%i==0:
        print("Not a Prime Number")
        break
    else:
        print("Prime Number")
        break

Enter Any Number 21

Prime Number

### list--> sum , avg, min_num , max_min
https://www.youtube.com/watch?v=i1NG0dxCLv8

In [3]:
n = int(input("Enter the Number of Elements: "))
l1 = []
for i in range(n):
    element = int(input("Enter the Numbers: "))
    l1.append(element)

# Use the correct function name 'sum' instead of 'sumint'
total = sum(l1)
Min = min(l1)
Max = max(l1)
avg = total / len(l1)  # Corrected the variable 's' to 'total'

print("Sum of numbers is: ", total)
print("Minimum element is: ", Min)
print("Maximum element is: ", Max)
print("Average is: ", avg)

Enter the Number of Elements:  3
Enter the Numbers:  10
Enter the Numbers:  20
Enter the Numbers:  30

Sum of numbers is:  60
Minimum element is:  10
Maximum element is:  30
Average is:  20.0

# Part 4

### Pattern Problem --> Nested loop 
https://www.youtube.com/watch?v=JzOtBOF5dWc

In [ ]:
1) *****
   *****
   *****

In [36]:

#Row agge dekbe then Column row =i , Column =j
for i in range (1,6):
    for j in range (1,4):
        print("*",end=" ")
    print()

* * *
* * *
* * *
* * *
* * *

In [ ]:
2) *
   **
   *** 
   ****

In [38]:
r = 4
for i in range(1, r+1):
    for j in range(1, i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [ ]:
3) ****
   ***
   **
   *

In [41]:
r = 4
for i in range(r, 0, -1):
    for j in range(i):
        print("*",end=" ")
    print()

* * * *
* * *
* *
*

4) 1 
   1 2
   1 2 3
   1 2 3 4

In [47]:
r=4
for i in range(1, 4):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3

## 2 Matrix Multiplicaiton

In [9]:
x = [
    [1, 2, 3],
    [2, 3, 4],
    [7, 8, 9]
]
y = [
    [1, 2, 3],
    [2, 3, 4],
    [7, 8, 9]
]

# Initialized
result = [
    [0, 0, 0],
    [0, 0, 0],
    [0, 0, 0]
]

# Matrix multiplication
for i in range(len(x)):
    for j in range(len(y[0])):
        for k in range(len(y)):
            result[i][j] += x[i][k] * y[k][j]

# Printing the result
for r in result:
    print(r)

[26, 32, 38]
[36, 45, 54]
[86, 110, 134]

## Multiplicaiton Table

In [5]:

print("Multiplication Table from 1 to 10:")

# Outer loop for the first number
for i in range(1, 11):
    # Inner loop for the second number
    for j in range(1, 11):
        # Printing the product of i and j
        print(f"{i} x {j} = {i * j}", end='\t')
    # New line after each row
    print()

Multiplication Table from 1 to 10:
1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4	1 x 5 = 5	1 x 6 = 6	1 x 7 = 7	1 x 8 = 8	1 x 9 = 9	1 x 10 = 10
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18	2 x 10 = 20
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27	3 x 10 = 30
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36	4 x 10 = 40
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45	5 x 10 = 50
6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54	6 x 10 = 60
7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63	7 x 10 = 70
8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72	8 x 10 = 80
9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81	9 x 10 = 90
10 x 1 = 10	10 x 2 = 20	10 x 3 = 30	10 x 4 = 40	10 x 5 = 50	10 x 6 = 60	10 x 7 = 70	10 x 8 = 80	10 x 9 = 90	10 x 10 = 100

# part 5

### List Comphrension 
https://www.youtube.com/watch?v=OYnZETHs-4M

In [16]:
#without List Comprehension 

l=[]
for i in range (1, 101):
    l.append(i)
print(l)

print ("")

# With Compression 
n=[m for m in range (1, 101)]
print(n)

print(" ")
#with list comprehension for even Number 
n=[m for m in range (1, 101) if m%2==0]
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

### create list and print new List with square of elementsabs
https://www.youtube.com/watch?v=m751AQKDB9M

In [18]:
l=[]
for i in range (1, 20):
    l.append(i)

print ("Original list : ")
print(l)
newlist =[i*i for i in l ]
print(newlist)

Original list :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

### list avg

In [19]:
# Sample list of integers
numbers = [10, 20, 30, 40, 50]

# Calculate the sum of elements
total_sum = sum(numbers)

# Calculate the number of elements
num_elements = len(numbers)

# Calculate the average
average = total_sum / num_elements

# Print the result
print(f"The average of the list is: {average}")

The average of the list is: 30.0

### list max and min Number

In [20]:
# Sample list of integers
numbers = [10, 20, 30, 40, 50]

# Find the maximum and minimum values
max_value = max(numbers)
min_value = min(numbers)

# Print the results
print(f"The maximum value in the list is: {max_value}")
print(f"The minimum value in the list is: {min_value}")

The maximum value in the list is: 50
The minimum value in the list is: 10

### List Sorting

In [21]:
# Sample list of integers
numbers = [50, 20, 40, 10, 30]

# Sorting the list in ascending order
numbers.sort()

# Print the result
print(f"The sorted list is: {numbers}")

The sorted list is: [10, 20, 30, 40, 50]

### List Filtering

In [22]:
# Sample list of integers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Using list comprehension to filter even numbers
even_numbers = [num for num in numbers if num % 2 == 0]

# Print the result
print(f"The original list: {numbers}")
print(f"The list of even numbers: {even_numbers}")

The original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The list of even numbers: [2, 4, 6, 8, 10]

### list reverse

In [23]:
# Sample list of integers
numbers = [1, 2, 3, 4, 5]

# Initialize an empty list to store the reversed list
reversed_list = []

# Reverse the list manually
for i in range(len(numbers) - 1, -1, -1):  # Start from the last index to the first
    reversed_list.append(numbers[i])

# Print the result
print(f"The original list: {numbers}")
print(f"The reversed list: {reversed_list}")

The original list: [1, 2, 3, 4, 5]
The reversed list: [5, 4, 3, 2, 1]

### List Manipulation

In [24]:
# Sample lists of integers
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Using list comprehension to find common elements
common_elements = [element for element in list1 if element in list2]

# Print the result
print(f"List 1: {list1}")
print(f"List 2: {list2}")
print(f"Common elements: {common_elements}")

List 1: [1, 2, 3, 4, 5]
List 2: [4, 5, 6, 7, 8]
Common elements: [4, 5]

### List Element Count

In [25]:
# Sample list of integers
numbers = [1, 2, 3, 2, 4, 2, 5, 2]

# Element to count
target_element = 2

# Count occurrences manually
count = 0
for num in numbers:
    if num == target_element:
        count += 1

# Print the result
print(f"The element {target_element} occurs {count} times in the list.")

The element 2 occurs 4 times in the list.

### List Duplicates Removal

In [26]:
# Sample list of integers with duplicates
numbers = [1, 2, 2, 3, 4, 4, 5, 3]

# Initialize an empty list to store unique elements
unique_numbers = []

# Loop through the original list
for num in numbers:
    if num not in unique_numbers:  # Check if the element is already in the unique list
        unique_numbers.append(num)

# Print the result
print(f"The original list: {numbers}")
print(f"The list without duplicates: {unique_numbers}")

The original list: [1, 2, 2, 3, 4, 4, 5, 3]
The list without duplicates: [1, 2, 3, 4, 5]